<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= "#{yield :title} || Rails Auth Without Devise" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full text-stone-800 bg-stone-300 dark:text-stone-200 dark:bg-stone-800">

    <% if controller_name != "Registration" %>    
      <%= render 'shared/sidebar' %>
      <%= render 'shared/topbar' %>
    <% end %> 
    <main class="py-8 lg:py-16">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
